body {
    background-color: #b8c7db;
  }
  
  .container {
    margin: auto;
    width: 300px;
    padding: 20px;
    background-color: #e2f1ff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #7c8da4, -5px -5px 10px #ffffff;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
  }
  
  input[type="text"] {
    border-radius: 5px;
    border: none;
    background-color: #e2f1ff;
    padding: 5px;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 2px 2px 5px #7c8da4, -2px -2px 5px #ffffff;
  }
  
  input[type="submit"] {
    border: none;
    border-radius: 5px;
    background-color: #d3d3d3;
    padding: 5px 20px;
    margin-left: 10px;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 2px 2px 5px #7c8da4, -2px -2px 5px #ffffff;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    background-color: #e2f1ff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #7c8da4, -2px -2px 5px #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li span {
    font-size: 20px;
  }
  
  li button {
    border: none;
    background-color: #d3d3d3;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 2px 2px 5px #7c8da4, -2px -2px 5px #ffffff;
  }
  